Repository NeoSOFT-Technologies/rest-node-nestjs, pull requests merged in 2021-08, with the labels that each got.

#79 Create dependabot.yml
  .github/dependabot.yml
Labels: R1

#95 Test
  package-lock.json
  test/e2e/app.e2e-spec.ts
  test/e2e/core.e2e-spec.ts
  test/unit/logger.spec.ts
  test/unit/mock/user.stub.ts
  test/unit/mock/users.response.ts
  test/unit/users.service.spec.ts
Labels: Core, R1

#105 Routes controller
  src/app.controller.ts
  src/components/users/repository/db/user.repository.ts
  src/components/users/repository/inMemory/user.repository.ts
  src/components/users/repository/user.repository.ts
  src/components/users/services/users.service.ts
  src/components/users/users.controller.ts
  src/core/bootstrap.ts
  src/core/logger/AppLogger.ts
  src/core/logger/index.ts
  src/core/providers.ts
  test/e2e/app.e2e-spec.ts
  test/e2e/core.e2e-spec.ts
  test/e2e/user.e2e.spec.ts
  test/mock/user.stub.ts
  test/mock/user.update.stub.ts
  test/mock/users.response.ts
  test/unit/logger.spec.ts
  test/unit/users.service.spec.ts
Labels: Core, P1, R1
